.all {
  height: 100vh;
  width: 100%;
}
.user {
  height: 60vh;
  width: 100%;
  background-color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pass {
  height: 40vh;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.USER {
  height: 5vh;
  width: 50%;
  background-color: white;
}
.PASS {
  height: 5vh;
  width: 50%;
  background-color: white;
}
.NEXT {
  height: 5vh;
  width: 10%;
  background-color: aliceblue;
  margin: 10px;
  border-radius: 50px;
}
